/bin/
/target/
/ToySystem-graph.graphml
/Analyzed Projects/
/ToySystem-1.0.0-SNAPSHOT-jar-with-dependencies.jar
/Hadoop-1.1.2.graphml
/Neo4j-commit/
/Neo4j/
/outputDir/
/ArcanOutput/
/output/
/IXPD.csv
/Neo4j-commit-tomcat/
/target1/
